body{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
}
.white{
    padding: 15px;
    background-color: #521720;
}
.cabeza{
    padding:20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 10px;
}
.titulo_universidad{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.cabezal_div{
    display: block;
    justify-content: center;
    align-items: center;
    background-color:white;
    }
.cuerpo-p2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.white{
    padding: 15px;
    background-color: #521720;
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.funciones {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.funciones a{
    background-color: #521720;
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.form_buttom{
    height: 50px;
}
.form_buttom:hover{
    background-color:aqua;
    color:black;
}
